body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.container {
  width: 90%;
  max-width: 400px;
  padding: 20px;
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 25px;
  box-shadow: 8px 4px 8px 4px rgba(7, 188, 248, 0.2);
  transition: 0.3s;
  margin-left: 34%;
  margin-top: 10%;
}

.container:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

h1 {
  text-align: center;
  color: #333;
}

form {
  text-align: left;
}

.form_group {
  margin-bottom: 20px;
}

label {
  display: block;
  font-weight: bold;
  color: white;
}

input[type="password"] {
  width: 90%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 3px;
}

.error {
  color: #e74c3c;
  font-size: 14px;
  margin-top: 5px;
}

button {
  display: block;
  margin: 20px auto;
  padding: 10px 20px;
  background-color: #3498db;
  color: #fff;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}

button:hover {
  background-color: #2980b9;
}

/* Responsive styles */
@media screen and (max-width: 768px) {
  .container {
    max-width: 90%;
  }
}

select {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 3px;
  background-color: #fff;
  font-size: 16px;
  color: #333;
  appearance: none;
}

select::-ms-expand {
  display: none;
}

select:hover,
select:focus {
  border-color: #3498db;
  outline: none;
}
#prn {
  width: 95%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 3px;
}

.password_container {
  display: flex;
  align-items: center;
}

.password_container input[type="password"] {
  flex-grow: 1;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 3px;
}

.password_container button {
  padding: 10px;
  background-color: #3498db;
  color: #fff;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  margin-left: 10px;
}

.password_container button:hover {
  background-color: #2980b9;
}
.clg {
  display: flex;
}
.clg input {
  padding: 10px;
  flex-grow: 1;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 3px;
}
#email1 {
  border-right: none;
  width: 85%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 3px;
}
#email2 {
  border: 2px solid black;
  border-left: none;
  width: 85%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 3px;
}
#confirm-password {
  width: 95%;
}
.container {
  z-index: 2;
}
